/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// media query variables
$tablet-min: 768px;
$desktop-min: 1175px;
$container: 1320px;

// color vars
$orange : #f05333;
$light-blue : #0a7ec2;
$dark-blue : #1e3160;
$gold: #fcbb30;
$background-color: #6CD9BE;
$border-color: #dedede;