/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "_var";
@import "_mixins";

// media query variables
$tablet-min: 768px;
$desktop-min: 1175px;
$container: 1320px;
$menu-break : 950px;

// color vars
$blue : #1e518c;
$blue1 : #007dc0;
$blue2 : #0361a7;
$blue3 : #062c53;
$green : #3CC968;
$red : #cc1046;
$red-d : #910A31;
$red-h : #CC4169;
$background-color : #6CD9BE;
$border-color: #7a7a7a;
$nav-color : #57595b;
$overlay : #4D6887;
$overlayer : rgba($blue3, 0.85);

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald-bold-webfont.eot');
    src: url('../fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-bold-webfont.woff') format('woff'),
         url('../fonts/oswald-bold-webfont.ttf') format('truetype'),
         url('../fonts/oswald-bold-webfont.svg#Oswald') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald-regular-webfont.eot');
    src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('../fonts/oswald-regular-webfont.svg#Oswald') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
} 
.preloader{
  span:first-child{
    font-family: 'Oswald';
    font-weight: 400;
  }
  span:nth-child(2){
    font-family: 'Oswald';
    font-weight: 700;
  }
  span:last-child{
    font-family: 'Open Sans';
    font-weight: 400;
  }
}
.blue{
  color : $blue;
}
.blue1{
  color : $blue1;
}
.blue2{
  color : $blue2;
}
.blue3{
  color : $blue3;
}
.green{
  color : $green;
}
.red{
  color : $red;
}
.red-h{
  color : $red-h;
}
.red-d{
  color : $red-d;
}
.background-color{
  color : $background-color;
}
.border-color{
  color : $border-color;
}
.nav-color{
  color : $nav-color;
}
.rel:not(nav){
  position: relative;
}
.circled{
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  z-index: 1000000000;
}
::-moz-selection {
  background: $red;
  color: $blue;
  text-shadow: none;
}
::selection {
  background: $red;
  color: $blue;
  text-shadow: none;
}

html {
  box-sizing: border-box;
  background-color: $blue2;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight : 400;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
  max-width: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100vh;
  line-height: 1.2;
  text-align: center;
  h1{
    color: $blue;
    font-size: 3em;
  }
  h4{
    color: $blue1;
    font-size: 1.2em;
  }
  h3{
    color: $blue3;
    font-size: 1.5em;
  }
}

body.done{
  .Davis{
    .svg-cont, .game-props{
      -webkit-animation-name: slideOutUp;
                animation-name: slideOutUp;   
      -webkit-animation-duration: .5s;
              animation-duration: .5s;          
    }
  }
  .player:nth-child(2), .player:nth-child(4), .player:nth-child(6){
    -webkit-animation-name: slideInLeft;
              animation-name: slideInLeft;   
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;    
  }
  .player:nth-child(5), .player:nth-child(3){
    -webkit-animation-name: slideInRight;
              animation-name: slideInRight;   
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;    
  }  
}
body.fades{
  nav, .right, .left{
    opacity: 0;
  }
}
body.intrue{
  .intro.overlay{
    background-color: $overlayer;
    bottom: 0;
    color: #ddd;
    display: block;
    font-family: 'Oswald';
    font-size: 30px;
    font-size: 7.5vmin;
    font-weight: 400;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    // @include text-shadow(1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff, 2px 2px 0 $red, -2px 2px 0 $red, 2px -2px 0 $red, -2px -2px 0 $red);
    top: 0;
    z-index: 10000;
    -webkit-animation-name: fadeOut;
              animation-name: fadeOut;   
    -webkit-animation-duration: 2s;
            animation-duration: 2s;    
    -webkit-animation-delay: 3s;
            animation-delay: 3s; 
    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      min-height: 100vh;
      vertical-align: middle;
      width: 0.1%;
      @media all and (max-width : $menu-break){
        content: none;
        height: 0;
        min-height: 0;        
      }
    }
    div.cont{
      display: inline-block;
      // font-weight: 700;
      max-width: 750px;
      vertical-align: middle;
      width: 90%;    
      z-index: 10000000000;
      @media all and (max-width : $menu-break){
        padding-top: 20px;     
      }
    }
    .word{
      display: inline-block;
      margin-left: 15px;
    }
    .break{
      &:before{
        content: '';
        display: block;
        width: 100%;
      }
    }
    span{
      display: inline-block;
      &:nth-child(even){
        -webkit-animation-duration: 2s;
                animation-duration: 2s;  
      }
      &:nth-child(odd){
        -webkit-animation-duration: 2.25s;
                animation-duration: 2.25s;          
      }
      &:nth-child(4n+1){
        -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;   
      }
      &:nth-child(4n+2){
        -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;   
      }   
      &:nth-child(4n+3){
        -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;   
      }
      &:nth-child(4n+4){
        -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;   
      }    
    }
  }
  nav{
      -webkit-animation-name: slideInDown;
                animation-name: slideInDown;   
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
  }
  .left{
    overflow: hidden;
      -webkit-animation-name: slideInLeft;
                animation-name: slideInLeft;   
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
  }
  .right{
      -webkit-animation-name: slideInRight;
                animation-name: slideInRight;   
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;   
  }
  .player:nth-child(2), .player:nth-child(4), .player:nth-child(6){
    -webkit-animation-name: slideInLeft;
              animation-name: slideInLeft;   
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;    
  }
  .player:nth-child(5), .player:nth-child(3), .player:first-child{
    -webkit-animation-name: slideInRight;
              animation-name: slideInRight;   
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;    
  }  
}
body.intro{
  .intro.overlay{
    background-color: $overlayer;
    bottom: 0;
    color: #ddd;
    display: block;
    font-family: 'Oswald';
    font-size: 30px;
    font-size: 7.5vmin;
    font-weight: 700;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    // @include text-shadow(1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff, 2px 2px 0 $red, -2px 2px 0 $red, 2px -2px 0 $red, -2px -2px 0 $red);
    top: 0;
    z-index: 10000;
    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      min-height: 100vh;
      vertical-align: middle;
      width: 0.1%;
      @media all and (max-width : $menu-break){
        content: none;
        height: 0;
        min-height: 0;        
      }
    }
    div.cont{
      display: inline-block;
      max-width: 750px;
      vertical-align: middle;
      width: 90%;    
      z-index: 10000000000;
      @media all and (max-width : $menu-break){
        padding-top: 20px;     
      }
    }
    .word{
      display: inline-block;
      margin-left: 15px;
    }
    .break{
      &:before{
        content: '';
        display: block;
        width: 100%;
      }
    }
    span{
      display: inline-block;
      &:nth-child(even){
        -webkit-animation-duration: 2s;
                animation-duration: 2s;  
      }
      &:nth-child(odd){
        -webkit-animation-duration: 2.25s;
                animation-duration: 2.25s;          
      }
      &:nth-child(4n+1){
        -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;   
      }
      &:nth-child(4n+2){
        -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;   
      }   
      &:nth-child(4n+3){
        -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;   
      }
      &:nth-child(4n+4){
        -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;   
      }    
    }
  }
  .dormant{
    display: none!important;
  }
  &:not(.fades){
    nav{
        -webkit-animation-name: slideInDown;
                  animation-name: slideInDown;   
        -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;
    }
    .left{
      overflow: hidden;
        -webkit-animation-name: slideInLeft;
                  animation-name: slideInLeft;   
        -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;
    }
    .right{
        -webkit-animation-name: slideInRight;
                  animation-name: slideInRight;   
        -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;   
    }
  }
  .aves.dormant{
    display: block!important;
    text-align: center;
    li{
      display: none;
    }
    .PTS{
      display: inline-block;
      margin-left: -35%;
    }     
  }
  .social.buttons:not(.intro){
    max-width: 120px;
    div{
      border-radius: 0%;
      // margin-left: -80px;
      max-width: 250px;
      opacity: 1;
      @include transition(all 0.35s);
      width: 125px;
      a{
        max-width: 250px;
        width: 125px;
        @include transition(all 0.35s);
      }
      &:after {
        height: auto;
        overflow: visible;
        padding-left: 7.5px;
        max-width: 80px;
      }      
    }
  }
  .aves:not(.dormant){
    li:not(.PTS){
      &:nth-child(-n+3){
        -webkit-animation-name: slideInLeft;
                  animation-name: slideInLeft;   
        -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;     
      }   
      &:nth-child(n+4){
        -webkit-animation-name: slideInRight;
                  animation-name: slideInRight;   
        -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;     
      }          
    }    
  }
  .sliders.dormant{
    display: block!important;
  }
  .sliders{
    .PTS.tunrt{
      input{
        display: inline-block!important;
      }
    }
    .PTS.hidden.tunrt,.PTS.hidden{
      input{
        display: none!important;
        @media all and (max-width : $menu-break){
            display: inline-block!important;
        }          
      }
    }
    @media all and (max-width : $menu-break){
      li:not(.PTS){
        display: none!important;
      }
    }     
  }
  .sliders{
    &:not(.dormant){
      li:not(.PTS){
        &:nth-child(-n+3){
          -webkit-animation-name: slideInLeft;
                    animation-name: slideInLeft;   
          -webkit-animation-duration: 0.5s;
                  animation-duration: 0.5s;     
        }   
        &:nth-child(n+4){
          -webkit-animation-name: slideInRight;
                    animation-name: slideInRight;   
          -webkit-animation-duration: 0.5s;
                  animation-duration: 0.5s;     
        }                
      }
    }
  }
  .svg-cont:not(.dormant){
    -webkit-animation-name: slideInRight;
              animation-name: slideInRight;   
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;       
  }
  .game-props:not(.dormant){
    -webkit-animation-name: slideInDown;
              animation-name: slideInDown;   
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;    
  }
  article > div .left .game-props, article > div .right .svg-cont{
    display: block;
    svg {
      -moz-transform: matrix(1, 0, 0, 1, 0, 0)!important;
        -ms-transform: matrix(1, 0, 0, 1, 0, 0)!important;
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0)!important;
        transform: matrix(1, 0, 0, 1, 0, 0)!important;
    }
  }
  .sliders.intro.active{
    .range{
      display: block;
    }
  }
  .sliders.intro{
    li{
      display: none;
    }
    .PTS{
      display: inline-block;
    }    
  }
  article{
    margin-top: 0!important;
    .player{
      display: none;
      &:first-child{
        display: block
      }
    }
  }
  .presets.rel{
    display: block;
    -webkit-animation-name: slideInDown;
        animation-name: slideInDown;   
  }
  nav{
    position: relative;
  }
  // nav.rel{
  //   z-index: 101010;
  // }
  // .sliders.rel{
  //   z-index: 101010;
  // }
}
body.ask{
  .intro.ask{
    background-color: $blue3;
    bottom: 0;
    color: #ddd;
    display: block;
    font-family: 'Oswald';
    font-size: 30px;
    font-size: 7.5vmin;
    font-weight: 700;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    // @include text-shadow(1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff, 2px 2px 0 $red, -2px 2px 0 $red, 2px -2px 0 $red, -2px -2px 0 $red);
    top: 0;
    z-index: 10000;
    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      min-height: 100vh;
      vertical-align: middle;
      width: 0.1%;
      @media all and (max-width : $menu-break){
        content: none;
        height: 0;
        min-height: 0;        
      }
    }
    div.question{
      display: inline-block;
      vertical-align: middle;
      width: 90%;    
      z-index: 10000000000;
      @media all and (max-width : $menu-break){
        padding-top: 20px;     
      }
      h6:first-child{
        padding-bottom: 25px;
        margin-top: -5%;        
      }
      .yes{
        color: $blue1;
        &:hover{
          color: $blue2;
        }
      }
      .no{
        color: $red;
        &:hover{
          color: $red-h;
        }
      }
      .yes, .no{
        padding: 10px 0;
        cursor: pointer;
      }
    }    
  }
  header{
    visibility: hidden;
  }
  article{
    display: none;
  }
}
.intro.overlay, .intro.ask{
  display: none;
}
.y.axis.grid{
  text{
    fill: #eee;
    font-weight: 700;
    stroke: #062c53;
    stroke-width: 1.4px;
    font-family: 'Oswald';
    font-size: 20px;
  }
  line{
    stroke: $blue3;
  }
}
.x.axis.grid{
  text{
    fill: $blue3;
    font-family: 'Oswald';
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  line{
    stroke: rgba($red,0.5);
    stroke-width: 4px;
  }
}


@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }  

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
  }

  20% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
  }
}

@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  75% {
    visibility: hidden;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  100%{
    visibility: hidden;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);    
    height: 0px;
  }
}
@keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}


.closing{
  display: block!important;
}
nav{
  background-color: $blue2;
  margin: 0 auto;
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 1000;
  @include pie-clearfix;
  @media all and ( max-width : $menu-break ){
    position: relative;
  }
  .reset, .outcome, .mobile-toggle{
    border-bottom: 1px solid $nav-color;
    border-top: 1px solid $nav-color;
    cursor: pointer;
    float: left;
    font-family: 'Oswald';
    text-transform: uppercase;
    color: #ddd;
    font-size: 14px;
    letter-spacing: 10px;
    padding: 7px 0;
    position: relative;    
    @media all and (max-width : $menu-break){
      letter-spacing: 2px;
      padding: 15px 5px;
    }
  }
  .reset, .outcome{
    width: 50%;  
  }  
  .reset{
    background-color: $red;
    &:hover{
      background-color: $red-h;
    }
  }
  .outcome{
    @include transition(background-color 0.5s);
    &:hover{
      background-color: $nav-color;
    }    
  }
  .outcome.both{
    background-color : $nav-color;
    &:hover{
      background-color : rgba($nav-color, 0.8);
    }
  }
  .outcome.L{
    background-color : $red-d;
  }
  .outcome.W{
    background-color : $green;
  }
  .presets-cont.open{
    h3{
      background-color: $red;
      @include transition(background-color 0.5s 0.25s);
    }
    ul.presets{ 
      display: block;
      -webkit-animation-name: slideInDown;
              animation-name: slideInDown;           
    }
  }
  .presets-cont{
    clear: left;
    h3{
      background-color: $blue3;
      border-bottom: 1px solid $nav-color;
      cursor: pointer;
      width: 100%;
      font-family: 'Oswald';
      text-transform: uppercase;
      color: #ddd;
      font-size: 16px;
      letter-spacing: 10px;
      padding: 10px 0;
      position: relative;
      @include transition(background-color 0.5s 0.25s);
      z-index: 100;
      &:hover{
        background-color: $blue2;
      }
    }
    ul.presets.closing{
      -webkit-animation-name: slideOutUp;
              animation-name: slideOutUp;
    }
    ul.presets.sub-open{
      h4.open{
        opacity : 1;
        position : relative;
        height: auto;
      }
      h4:not(.open){
        opacity : 0;
        height: 0;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        width: 100%;
        @include transition(top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s 0.25s, height 0.2s 0.3s);
      }
      .sub-menu.open{
        display: block;
        -webkit-animation-name: slideInLeft;
                animation-name: slideInLeft;                       
      }
    }
    ul.presets{
      background-color: rgba($blue3, 0.95);
      display: none;
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 36px; 
      z-index: 10;  
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;            
      .active{
        background-color: $blue;
        &:hover{
          background-color: $blue2;
        }
      }
      h4{
        color: #ddd;
        cursor: pointer;
        display: inline-block;
        font-family: 'Oswald';
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 3px;
        margin: 0 2.5px;
        padding: 10px;
        text-transform: uppercase;
        top: 0;
        @include transition(top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s 0.25s, height 0.2s 0.3s);
        width: 100%;
        &:after{
          color: #fff;
          content: '\002B';
          font-family: 'Open Sans';
          font-size: 20px;
          font-weight: bold;
          line-height: 0.5;
          padding-left : 10px;
          display: inline-block;        
        }
        &:hover{
          background-color : $red-h;
        }
      }
      h4.open{
        background-color : $blue;
        &:after{
          content: '\002D';
        }
      }
      .sub-menu.closing{
        -webkit-animation-name: slideOutRight;
                animation-name: slideOutRight;
        min-height: 10px;
      }
      .sub-menu.sub-open{

        li.open{
          &:hover{
            background-color: transparent;
          }
          .toggle:hover{
            background-color: $red;
          }
          .descript{
            display: block;
            -webkit-animation-name: slideInLeft;
                    animation-name: slideInLeft;          
          }  
        }

        li:not(.open){
          opacity : 0;
          height: 0;
          left: 0;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 50%;
          width: 100%;
          @include transition(top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s 0.25s, height 0.2s 0.3s);          
        }

      }
      .sub-menu{
        display: none;
        position: relative;
        min-height: 90vh;
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;           
        li{
          border: 0!important;
          display: inline-block;
          font-family: 'Oswald';
          font-size : 24px;
          padding: 10px 0;
          top: 0;
          width: 100%;
          @include transition(top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s 0.25s, height 0.2s 0.3s);          
        }

        .text, .toggle{
          display: inline-block;
          padding: 5px;
          vertical-align: middle;
        }
        .text{
          font-weight: 700;
          padding: 5px 20px;
          text-transform: uppercase;
        }
        .toggle{
          background-color: $blue1;
          font-size: 12px;
          font-family: 'Open Sans';
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 2px;
          padding: 10px; 
          &:hover{
            background-color: $blue3;
          }         
        }
        .descript{
          display: none;
          -webkit-animation-duration: 1s;
                  animation-duration: 1s;
          -webkit-animation-fill-mode: both;
                  animation-fill-mode: both;   
          margin: 0 auto;
          width: 75%;
        }
        .descript.closing{
          -webkit-animation-name: slideOutRight;
                  animation-name: slideOutRight;             
        }
        .descript.open{
          padding: 30px 10px;
        }
      }
      li{
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: 'Oswald';
        font-weight: 300;
        letter-spacing: 0.5px;
        padding: 3px 10px;
        &:last-child{
          border-right: 1px solid #eee;
        }
        &:hover{
          background-color: $nav-color;
        }
      }
    }

  }
  .mobile-toggle{
    background-color : $blue;
    display: none;
    width: 100%;
    @media all and (max-width : $menu-break){
      display: block;
    }
  }
  ul.sliders{
    display: inline-block;
    margin: 0 auto -2px;
    text-align: center;
    width: 100%;  
    li.active.lessThan, .lessThan{
      background-color: $red;
      label, span{
        color: #fff;
      }
      input{
        background-color: $red-h; 
        @include box-shadow(inset 0 0 0 5px $red);
      }
    }
    li.active{
      background-color: #ddd;
      label{
        color: $blue3;
        font-weight: 700;
      }
      span{
        color: $blue1;
      }
      input{
        background-color: #EDEBEB;        
        @include box-shadow(inset 0 0 0 5px #ddd);
      }
    }
    li{
      border-right: 1px solid $nav-color;
      border-left: 1px solid $border-color;
      color: #eeeeee;
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      padding: 7.5px 5px;
      position: relative;
      text-transform: uppercase;
      width: 51px;
      @media all and (max-width : $menu-break){
        display: block;
        width: 100%;
      }
      &:last-child{
        border-right: 1px solid $border-color;
      }
      &:hover input{
        display: inline-block;
        @include transition(height 0.2s ease);
      }
      span{
        color: #ddd;
        display: inline-block;
        font-weight: light;
        font-size: 10px;
        text-align: center;
        width: 100%;
        @media all and (max-width : $menu-break){
          vertical-align: middle;
          width: 10%;
        }
      }
      label{
        cursor: pointer;
        display: inline-block;
        font-family: 'Oswald';
        font-size: 14px;        
        text-align: center;
        width: 100%;
        @media all and (max-width : $menu-break){
          vertical-align: middle;
          width: 10%;
        }        
      }
      input {
        @include box-shadow(inset 0 0 0 5px $blue2);
        -webkit-appearance: none; 
        @include transform(rotate( 270deg ));
        position: absolute;
        top: 64px;
        right: -31px;
        @include transition(height 0.2s ease);
        background: linear-gradient(to right, #7D092A 0%, $red 100%); 
        background-size: 100% 20%; 
        background-position: center; 
        background-repeat: no-repeat; 
        overflow: hidden; 
        outline: none; 
        zoom: 130%; 
        display: none; 
        background-color: $blue1;
        margin: auto; 
        min-width: 100px;
        height: 37.5px;
        z-index: 100;
        padding-left: 5px;
        @media all and (max-width : $menu-break){
          vertical-align: middle;
          display: inline-block;
          height: 22px;
          position: relative;
          right: 0;
          top: 0;
          @include transform(rotate( 0 ));
          width: 75%;
        }        
      }
      input::-webkit-slider-thumb {
        background: url(../img/shoe.svg) center center no-repeat;
        background-size: cover;
        -webkit-appearance: none; 
        cursor: pointer;
        width: 15px; 
        height: 30px; 
        outline : 0;
        border: 0;
        position: relative; 
        z-index: 3; 
        @media all and (max-width : $menu-break){
          height: 22px;
          width: 11px;
        }         
      }
      input::-webkit-slider-thumb:after {
        content: " "; 
        pointer-events: none;
        width: 100px; 
        height: 10px; 
        position: absolute; 
        z-index: 1; 
        right: 15px; 
        top: 10px; 
        background: #fff; 
        @media all and (max-width: $menu-break){
          right: 11px; 
          top: 6px;           
          width: $menu-break;
        }         
      }

    }
  }
}
.open{
  .left{
    overflow: visible;
  }
  .right{
    svg{
      @include transform(matrix(1,0,0,1,0,0));
      @include transition(all 1s);
    }  
  }
  .slideCTRL{
    background-color: $red;
    &:before{
      content: '\002D';
    }
    &:hover{
      background-color: $red-h;
    }
  }
}
article{
  border-top: 2px solid $blue;
  @media all and (max-width : $menu-break){
    margin-top: 0!important;
  }
  > div{
    width: 100%;
    @media all and (max-width : 1000px){
      border-bottom: 2px solid $nav-color;
    }
    &:nth-child(even){
      background-color : #f2f2f2;
      svg{
        background-color: rgba(#f2f2f2,0.93);
      }
      @media all and (max-width: 1000px){
        div.left, div.right{
          background-color: #f2f2f2;
        }
      }
    }
    &:nth-child(odd){
      background-color : #E8E8E8;
      svg{
        background-color: rgba(#E8E8E8,0.93);
      }
      @media all and (max-width: 1000px){
        div.left, div.right{
          background-color: #E8E8E8;
        }
      }
    }
    .right{
      width: 80%;
      display: inline-block;      
      vertical-align: top;
      @include transition(height 0.5s);
      .playergames{
        height: 0;
        min-height: 0;
        overflow: scroll;
      }
      .svg-cont{
        display: none;
        @media all and (max-width: $menu-break){
          .player-graph-cont{
            height: 40vw;
          }
        }
        .svgc-label{
          background-color: $red;
          color: #fff;
          font-family: 'Oswald';
          font-size: 20px;
          font-weight: 500;
          padding: 10px 0;
          text-transform: uppercase;
          width: 100%;
          &:first-child{
            background-color: $blue3;
            padding: 5px 0;
            font-size: 16px;
          }
          @media all and (max-width : $menu-break){
            padding: 5px 0;
            font-size: 16px;            
          }
        }
        &:before{
          content: '';
          display: block;
        }
      }
      .aves{
        height: 15vh;
        min-height: 125px;
        padding: 30px 10px;
        text-align: left;
        @media all and (max-width : $menu-break){
          height: auto;
          min-height: 0;
          padding: 10px 10px;          
        }
        li.active{
          background-color: $blue2;
          h2, h4{
            color: #fff;
            font-weight: 700;
          }
        }
        li{
          display: inline-block;
          padding: 10px 2.5px;
          text-align: center;
          width: 5%;
          min-width: 35px;
          font-size: 12px;
          @media all and (max-width : $menu-break){
            width: 20%;
            padding : 10px;
          }
          h4{
            font-family: 'Oswald';
            font-size: 18px;
            padding: 10px 0 0;
          }
        }
      }
      svg{
        margin-bottom: -5px;
        @include transform(matrix(1,0,0,0,0,-100));
        @include transition(all 1s);
      }
      @media all and (max-width: 1000px){
        width: 100%;
      }
    }
    .left{
      width: 20%;
      display: inline-block;
      position: relative;
      text-align: right;
      vertical-align: top;
      @media all and (max-width: 1000px){
        border-right: 0;
        width: 100%;
      } 
      .player-card{
        height: 15vh;
        min-height: 125px;
        @media all and (max-width : 1000px){
          background-color: transparent!important;
          height: 125px;
          margin-top: 10px;
          h4{
            padding: 0;
          }
        }
      }           
      h3{
        font-family: 'Oswald';
        font-size: 18px;
        text-transform: uppercase;
        width: 100%;
        .first{
          color: $blue1;
          font-size: 12px;
          font-weight: 400;
        }
        .last{
          color: $blue3;
          font-size: 22px;
          font-weight: 700;
        }
        span{
          @media all and (max-width: 1200px){
            display: inline-block;
            width: 100%;
          }
        }
        @media all and (max-width: 1200px){
          padding: 0 15px;
          .last{
            font-size: 16px;
          }
        }  
        @media all and (max-width: 1000px){
          display: inline-block;
          width: auto;
          .last{
            font-size: 35px;
          }
          .first{
            font-size: 16px;
          }                
        }              
      }
      h4{
        color: $red;
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        letter-spacing: 0;
        margin-bottom: 25px;
        padding-top: 0;
        width: 100%;
        @media all and (max-width: 1000px){
          display: inline-block;
          font-size: 70px;
          margin-right: 25px;
          width: auto;
        } 
      }
    }
    h3{
      display: inline-block;
      padding: 10px 15px;
      vertical-align: middle;
    }
    h4{
      display: inline-block;
      padding: 10px 15px;
      vertical-align: middle;
    }
    .slideCTRL{
      background-color: $blue;
      cursor: pointer;
      padding: 5px 0;
      text-align: center;
      width: 100%;
      &:hover{
        background-color: $blue1;
      }
      &:before{
        color: #fff;
        content: '\002B';
        font-size: 16px;
        line-height: 0.5;
        display: inline-block;
      }
    }
    ul.playergames{
      display: none;
      .away{
        background-color: #B4CAD6;
        display: block;
      }
      .vis{
        display: block;
      }
      li{
        border-bottom : 1px solid #dedede;
        display: none;
        position: relative;
        &:hover{
          background-color: #AFD8ED;
        }
        .view-more{
          border: 1px solid #dedede;
          cursor: pointer;
          padding: 5px;
          position: absolute;
          right: 2%;
          top: 50%;
          width: auto;
          &:before{
            content: '+';
          }
        }
        .view-more.minus{
          &:before{
            content: '-';
          }
        }
        span{
          cursor: pointer;
          display: inline-block;
          padding: 5px 7.5px;
          position: relative;
          vertical-align: middle;
          &:before{
            background-color: #fff;
            bottom: 100%;
            color: $nav-color;
            cursor: pointer;
            display: none;
            left: 0;
            margin-left: -50%;
            padding: 5px 10px;
            position: absolute;
          }
          &:hover{
            opacity : 0.9;
            &:before{
              display: block;
            }
          }
        }
      }
      div{
        width: 100%;
        span.player{
          display: none;
        }
      }
    }
  }
  .James {
    .left .player-card{
      background: url('../img/james.png') left bottom no-repeat rgba(200,200,200,0.25);
      background-size: auto 100%;
    }
    .right .svg-cont .player-graph-cont{
      background: url('../img/cavalierscourt.jpg') left bottom no-repeat;
      background-size: auto 100%;
    }
  }
  .Westbrook {
    .left .player-card{
      background: url('../img/westbrook.png') left bottom no-repeat rgba(200,200,200,0.25);
      background-size: auto 100%;
      h3{
        .last{
          @media all and (min-width : 1000px){
            font-size: 16px;
            font-family: 'Oswald';
          }
        }
      }
    }
    .right .svg-cont .player-graph-cont{
      background: url('../img/thundercourt.jpg') left bottom no-repeat;
      background-size: auto 100%;
    }
  }
  .Curry {
    .left .player-card{
      background: url('../img/curry.png') left bottom no-repeat rgba(200,200,200,0.25);
      background-size: auto 100%;
    }
    .right .svg-cont .player-graph-cont{
      background: url('../img/warriorscourt.jpg') left bottom no-repeat;
      background-size: auto 100%;
    }
  }
  .Harden {
    .left .player-card{
      background: url('../img/harden.png') left bottom no-repeat rgba(200,200,200,0.25);
      background-size: auto 100%;
    }
    .right .svg-cont .player-graph-cont{
      background: url('../img/rocketscourt.jpg') left bottom no-repeat;
      background-size: auto 100%;
    }
  }
  .Paul {
    .left .player-card{
      background: url('../img/paul.png') left bottom no-repeat rgba(200,200,200,0.25);
      background-size: auto 100%;
    }
    .right .svg-cont .player-graph-cont{
      background: url('../img/clipperscourt.jpg') left bottom no-repeat;
      background-size: auto 100%;
    }
  }
  .Davis {
    .left .player-card{
      background: url('../img/davis.png') left bottom no-repeat rgba(200,200,200,0.25);
      background-size: auto 100%;
    }
    .right .svg-cont .player-graph-cont{
      background: url('../img/pelicanscourt.jpg') left bottom no-repeat;
      background-size: auto 100%;
    }
  }
}
.game-props{
  display: none;
  margin-top: 10px;
  text-align: center;
  >div{
    width: 100%;
  }
  .head.shooting.open{
    background-color: $red;
    color: #fff;
    &:after{
      content: '\002D';
    }
    &:hover{
      background-color: $red-h;
    }
  }
  .head.shooting{
    background-color: #fff;
    color: $blue2;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 5px 0;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    &:after{
      content : '\002B';
      display: inline-block;
      font-size: 16px;
      position: absolute;
      line-height: 22px;
      top: 0;
      right: 0;
      font-weight: 700;
      padding: 0 5px;
    }
    &:hover{
      background-color: #ddd;
    }
  }
  div{
    display: inline-block;
    text-align: center;
    h6{
      color: $blue1;
      font-size: 8px;
      width: 100%;
    }
    span{
      color: $blue3;
      display: inline-block;
      font-family: 'Oswald';
      font-size: 20px;
      padding-bottom: 5px;
      width: 100%;
    }
    .OPP{
      span{
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
  .W{
    color: $green;
  }
  .L{
    color: $red;
  }
  .player, .first{
    display: none;
  }  
  .shootingstats{
    display: none;
    div{
      width: 26%;
    }
    .head{
      color: $red;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      width: 100%;
    }  
  }
  .outcome{
    div{
      span{
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 5px;
      }
    }
  }
  .game{
    div{
      text-align: left;
      width: 45%;
      vertical-align: middle;
    }
    .DATE{
      span{
        color: $nav-color;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 5px;          
      }
    }
  }
  .defstats, .mainstats{
    div{
      width: 22%;
    }
  }
  .DATE, .OPP, .OUTCOME, .PtF, .PA,.shootingstats{
    h6{
      display: none;
    }
  }
  .DATE{
  }
  .OPP{
    text-align: center!important;
  }
  .OUTCOME{
  }
  .PtF{

  }
  .PA{
    span{
      &:before{
        content: '-';
        display: inline-block;
        padding: 0 2.5px;
      }        
    }  
  }
  .MIN{
  }
  .PTS{
  }
  .REB{
  }
  .AST{
  }
  .FGM{
    span{
      position: relative;
      &:after{
        content: 'of';
        position: absolute;
        left: 95%;
      }
    }
  }
  .FGA{
  }
  .FGP{
  }
  .m3p{
    span{
      position: relative;
      &:after{
        content: 'of';
        position: absolute;
        left: 95%;
      }
    }
  }
  .a3p{
  }
  .P3P{
  }
  .FTM{
    span{
      position: relative;
      &:after{
        content: 'of';
        position: absolute;
        left: 95%;
      }
    }
  }
  .FTA{
  }
  .FTP{
  }
  .BLK{
  }
  .STL{
  }
  .PF{
  }
  .TO{
  }
}
.player-graph{
  circle{
    cursor: pointer;
  }
}
.social.buttons{
  // background-color: rgba($nav-color,1);
  border-bottom-left-radius: 5px;
  max-width: 40px;
  overflow: visible;
  padding: 5px;
  position: fixed;
  right: 0;
  text-align: right;
  top: 50px;
  z-index: 1000;
  path, polygon{
    fill: rgba(#fff, 1);
  }
  div{
    background-color: $red;
    display: inline-block;
    height: 30px;
    border-radius: 100%;
    opacity: 0.35;
    padding: 1px 5px;
    @include transition(all 0.35s);
    width: 30px;
    &:last-child{
      background-color: $blue1;
      @media all and (max-width : 1000px){
        display: none;
      }      
    }
    #information{
      text-align: center;
      line-height: 27px;
      font-family: 'Oswald';
      font-weight: 700;
      font-size: 12px;
      &:hover{
        font-size: 18px;
      }
    }      
    a{
      color: #fff;
      display: inline-block;
      text-align: left;
      height: 30px;
      overflow: hidden;
      width: 30px;
      text-decoration: none;
      @include transition(all 0.35s);
      &:after{
        display: inline-block;
        overflow: hidden;
        height: 0;
        max-width: 0px;
        vertical-align: middle;
        @include transition(all 0.35s);
      }
    }
    &:hover{
      border-radius: 0%;
      margin-left: -80px;
      max-width: 250px;
      opacity: 1;
      @include transition(all 0.35s);
      width: 125px;
      a{
        max-width: 250px;
        width: 125px;
        @include transition(all 0.35s);
      }
      #share-google{
        &:after{
          height: auto;
          overflow: visible;
          padding-left: 7.5px;
          max-width: 80px;
          @include transition(all 0.35s);
        }        
      }
      #share-facebook{
        &:after{
          height: auto;
          overflow: visible;
          padding-left: 7.5px;
          max-width: 80px;
          @include transition(all 0.35s);
        }         
      }
      #share-twitter{
        &:after{
          height: auto;
          overflow: visible;
          padding-left: 7.5px;
          max-width: 80px;
          @include transition(all 0.35s);
        }          
      }     
    }
    #share-google{
      &:after{
        content: 'google';
      }           
    }
    #share-facebook{
      &:after{
        content: 'facebook';
      }          
    }
    #share-twitter{
      &:after{
        content: 'twitter';
      }          
    }   
    svg{
      display: inline-block;
      vertical-align: middle;
    }
  }
}
.teamATL {
  stroke: #DE3A3F!important;
  color : #00004D!important;
  fill : #00004D;
}
.teamBOS {
  stroke: #FFFFFF!important;
  color : #04824C!important;
  fill : #04824C;
}
.teamBKN {
  stroke: #FFF!important;
  color : #000000!important;
  fill : #000000;
}
.teamCHA {
  stroke: #FFF!important;
  color : #201747!important;
  fill : #201747;
}
.teamCHI {
  stroke: #FFF!important;
  color : #C41E3A!important;
  fill : #C41E3A;
}
.teamCLE {
  stroke: #FFB71C!important;
  color : #6E263C!important;
  fill : #6E263C;
}
.teamDAL {
  stroke: #D3D3D3!important;
  color : #0B60AD!important;
  fill : #0B60AD;
}
.teamDEN {
  stroke: #FBB726!important;
  color : #4B90CC!important;
  fill : #4B90CC;
}
.teamDET {
  stroke: #FFFFFF!important;
  color : #00519A!important;
  fill : #00519A;
}
.teamGS {
  stroke: #FFC61E!important;
  color : #04529C!important;
  fill : #04529C;
}
.teamHOU {
  stroke: #FFFFFF!important;
  color : #C5001E!important;
  fill : #C5001E;
}
.teamIND {
  stroke: #FFC322!important;
  color : #092C57!important;
  fill : #092C57;
}
.teamLAC {
  stroke: #106BB4!important;
  color : #CC0033!important;
  fill : #CC0033;
}
.teamLAL {
  stroke: #FCB926!important;
  color : #5C2F83!important;
  fill : #5C2F83;
}
.teamMEM {
  stroke: #99BADD!important;
  color : #182D59!important;
  fill : #182D59;
}
.teamMIA {
  stroke: #BF2F38!important;
  color : #000000!important;
  fill : #000000;
}
.teamMIL {
  stroke: #E32636!important;
  color : #003614!important;
  fill : #003614;
}
.teamMIN {
  stroke: #C7CFD4!important;
  color : #245FAC!important;
  fill : #245FAC;
}
.teamNO {
  stroke: #B4975A!important;
  color : #192E5B!important;
  fill : #192E5B;
}
.teamNY {
  stroke: #FF7518!important;
  color : #0953A0!important;
  fill : #0953A0;
}
.teamOKC {
  stroke: #F05133!important;
  color : #007DC3!important;
  fill : #007DC3;
}
.teamORL {
  stroke: #C0C0C0!important;
  color : #007CC5!important;
  fill : #007CC5;
}
.teamPHI {
  stroke: #D0103A!important;
  color : #1560BD!important;
  fill : #1560BD;
}
.teamPHX {
  stroke: #E65F20!important;
  color : #1C105E!important;
  fill : #1C105E;
}
.teamPOR {
  stroke: #FF2B44!important;
  color : #000000!important;
  fill : #000000;
}
.teamSAC {
  stroke: #C5CED4!important;
  color : #393997!important;
  fill : #393997;
}
.teamSA {
  stroke: #C0C0C0!important;
  color : #000000!important;
  fill : #000000;
}
.teamTOR {
  stroke: #C7CFD4!important;
  color : #D40026!important;
  fill : #D40026;
}
.teamUTAH {
  stroke: #F9A11C!important;
  color : #00275E!important;
  fill : #00275E;
}
.teamWSH {
  stroke: #C60C30!important;
  color : #002244!important;
  fill : #002244;
}
.sg-svg{
  @media all and (max-width: $menu-break){
    .sg-graph-cont{
      height: 45vw;
    }
  }
  &:before{
    color: $blue;
    content: 'Single game vs. Average';
    display: block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px 0 0;
    text-transform: uppercase;
  }
  .sg-graph{
    .active{
      stroke: $red-h;
      stroke-width: 3;
    }
    rect{
      cursor: pointer;
      fill: $blue;
      &:not(.active){
        opacity: 0.5;
      }
      &:hover{
        stroke : $blue1;
        stroke-width : 3;
      }
    }
    .updaters{
      line.active{
        stroke-width: 25;
        stroke: $red-d;
      }     
      line{
        cursor: pointer;
        stroke-width: 10;
        stroke: $red-h;
        &:hover{
          stroke-width : 20;
        }
      }
    }
  }  
  .statlabels{
    width: 100%;
    div{
      &:after{
        color: $nav-color;
        display: block;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
    .avlb{
      color: $nav-color;
      font-size: 12px;
      letter-spacing: 12px;
      padding: 5px;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
    .avvl, .crvl{
      font-family: 'Oswald';
      font-size: 26px;
      width: 50%;
    }
    .avvl{
      color: $blue;
      &:after{
        content: 'average';
      }
    }
    .crvl{
      color: $red-d;
      &:after{
        content: 'current game';
      }
    }
  }
}
.tool-tip.bar, .tool-tip.line{
  background-color: #fff;
  border-radius: 100%;
  padding: 2.5px 7.5px 10px;
  margin-bottom: -5px;
  min-height: 40px;
  min-width: 40px;
  span:first-child{
    color: $blue1;
    font-family: 'Open Sans';
    font-size: 10px;
    line-height: 0.9;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  span:last-child{
    color: $blue3;
    display: block;
    font-family: 'Oswald';
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
    position: absolute;
    top: 100%;
    left: 50%;
    border-top: 10px solid #fff;
  }  
}
.tool-tip.circ{
  background-color: rgba(#E8E8E8, 0.85);
  border: 5px solid rgba(#C9C9C9, 0.95);
  border-radius: 100%;
  padding: 15px;
  margin-bottom: -4px;
  margin-left: 20px;
  min-height: 40px;
  min-width: 40px;
  span:last-child{
    color: $nav-color;
    font-family: 'Oswald';
    font-size: 16px;
    line-height: 2;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  span:first-child{
    display: block;
    font-family: 'Oswald';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
    position: absolute;
    top: 100%;
    left: 50%;
    border-top: 10px solid rgba(#C9C9C9, 0.95);
  }
}

body.information{
  @media all and (min-width : 1000px){
    .game-props, .player-graph-cont, .player-card, .aves{
      position: relative;
    }
    .game-props, .player-graph-cont, .player-card, .aves, nav{
      &:after {    
        background-color : $overlayer;
        background-size : contain;  
        background-position : center center;
        background-repeat : no-repeat;
        bottom : 0;
        content : '';
        display: block;
        left : 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 150;
        -webkit-animation-duration: 0.75s;
                animation-duration: 0.75s;    

      }
    }
    .game-props{
      &:after{
        -webkit-animation-name: slideInLeft;
                  animation-name: slideInLeft;           
        background-image: url(../img/game-props.svg); 
      }
    } 
    .player-graph-cont{
      &:after{
        -webkit-animation-name: slideInRight;
                  animation-name: slideInRight;           
        background-image: url(../img/player-graph-cont.svg); 
      }
    } 
    .player-card{
      &:after{
        -webkit-animation-name: slideInLeft;
                  animation-name: slideInLeft;           
        background-image: url(../img/player-card.svg); 
      }
    } 
    .aves{
      &:after{
        -webkit-animation-name: slideInRight;
                  animation-name: slideInRight;           
        background-image: url(../img/aves.svg); 
      }
    } 
    nav{
      &:after{
        -webkit-animation-name: slideInDown;
                  animation-name: slideInDown;           
        background-image: url(../img/nav.svg); 
      }    
    }


    .social.buttons div:last-child{
      background-color: $red;
      text-align: center;
      line-height: 27px;
      font-family: 'Oswald';
      font-weight: 700;
      font-size: 12px;
      border-radius: 0%;
      margin-left: -80px;
      max-width: 250px;
      opacity: 1;
      @include transition(all 0.35s);
      width: 125px;
      &:hover{
        font-size: 18px;
      }

      a{
        color: transparent;
        display: inline-block;
        text-align: left;
        height: 30px;
        overflow: hidden;
        width: 30px;
        text-decoration: none;
        @include transition(all 0.35s);
        max-width: 250px;
        position: relative;
        width: 125px;
        @include transition(all 0.35s);
        &:after{
          color : #fff;
          content: 'close';
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          height: 30px;
          width: 125px;
          max-width: 125px;
        }
      }      
    }     
  }
}
