/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/oswald-bold-webfont.eot");
  src: url("../fonts/oswald-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-bold-webfont.woff") format("woff"), url("../fonts/oswald-bold-webfont.ttf") format("truetype"), url("../fonts/oswald-bold-webfont.svg#Oswald") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/oswald-regular-webfont.eot");
  src: url("../fonts/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-regular-webfont.woff") format("woff"), url("../fonts/oswald-regular-webfont.ttf") format("truetype"), url("../fonts/oswald-regular-webfont.svg#Oswald") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
.preloader span:first-child {
  font-family: 'Oswald';
  font-weight: 400;
}
.preloader span:nth-child(2) {
  font-family: 'Oswald';
  font-weight: 700;
}
.preloader span:last-child {
  font-family: 'Open Sans';
  font-weight: 400;
}

.blue {
  color: #1e518c;
}

.blue1 {
  color: #007dc0;
}

.blue2 {
  color: #0361a7;
}

.blue3 {
  color: #062c53;
}

.green {
  color: #3CC968;
}

.red {
  color: #cc1046;
}

.red-h {
  color: #CC4169;
}

.red-d {
  color: #910A31;
}

.background-color {
  color: #6CD9BE;
}

.border-color {
  color: #7a7a7a;
}

.nav-color {
  color: #57595b;
}

.rel:not(nav) {
  position: relative;
}

.circled {
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  z-index: 1000000000;
}

::-moz-selection {
  background: #cc1046;
  color: #1e518c;
  text-shadow: none;
}

::selection {
  background: #cc1046;
  color: #1e518c;
  text-shadow: none;
}

html {
  box-sizing: border-box;
  background-color: #0361a7;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  max-width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100vh;
  line-height: 1.2;
  text-align: center;
}
body h1 {
  color: #1e518c;
  font-size: 3em;
}
body h4 {
  color: #007dc0;
  font-size: 1.2em;
}
body h3 {
  color: #062c53;
  font-size: 1.5em;
}

body.done .Davis .svg-cont, body.done .Davis .game-props {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}
body.done .player:nth-child(2), body.done .player:nth-child(4), body.done .player:nth-child(6) {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
body.done .player:nth-child(5), body.done .player:nth-child(3) {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

body.fades nav, body.fades .right, body.fades .left {
  opacity: 0;
}

body.intrue .intro.overlay {
  background-color: rgba(6, 44, 83, 0.85);
  bottom: 0;
  color: #ddd;
  display: block;
  font-family: 'Oswald';
  font-size: 30px;
  font-size: 7.5vmin;
  font-weight: 400;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  z-index: 10000;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
body.intrue .intro.overlay:before {
  content: '';
  display: inline-block;
  height: 100%;
  min-height: 100vh;
  vertical-align: middle;
  width: 0.1%;
}
@media all and (max-width: 950px) {
  body.intrue .intro.overlay:before {
    content: none;
    height: 0;
    min-height: 0;
  }
}
body.intrue .intro.overlay div.cont {
  display: inline-block;
  max-width: 750px;
  vertical-align: middle;
  width: 90%;
  z-index: 10000000000;
}
@media all and (max-width: 950px) {
  body.intrue .intro.overlay div.cont {
    padding-top: 20px;
  }
}
body.intrue .intro.overlay .word {
  display: inline-block;
  margin-left: 15px;
}
body.intrue .intro.overlay .break:before {
  content: '';
  display: block;
  width: 100%;
}
body.intrue .intro.overlay span {
  display: inline-block;
}
body.intrue .intro.overlay span:nth-child(even) {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
body.intrue .intro.overlay span:nth-child(odd) {
  -webkit-animation-duration: 2.25s;
  animation-duration: 2.25s;
}
body.intrue .intro.overlay span:nth-child(4n+1) {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
body.intrue .intro.overlay span:nth-child(4n+2) {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
body.intrue .intro.overlay span:nth-child(4n+3) {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
body.intrue .intro.overlay span:nth-child(4n+4) {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
body.intrue nav {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
body.intrue .left {
  overflow: hidden;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
body.intrue .right {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
body.intrue .player:nth-child(2), body.intrue .player:nth-child(4), body.intrue .player:nth-child(6) {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
body.intrue .player:nth-child(5), body.intrue .player:nth-child(3), body.intrue .player:first-child {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

body.intro .intro.overlay {
  background-color: rgba(6, 44, 83, 0.85);
  bottom: 0;
  color: #ddd;
  display: block;
  font-family: 'Oswald';
  font-size: 30px;
  font-size: 7.5vmin;
  font-weight: 700;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  z-index: 10000;
}
body.intro .intro.overlay:before {
  content: '';
  display: inline-block;
  height: 100%;
  min-height: 100vh;
  vertical-align: middle;
  width: 0.1%;
}
@media all and (max-width: 950px) {
  body.intro .intro.overlay:before {
    content: none;
    height: 0;
    min-height: 0;
  }
}
body.intro .intro.overlay div.cont {
  display: inline-block;
  max-width: 750px;
  vertical-align: middle;
  width: 90%;
  z-index: 10000000000;
}
@media all and (max-width: 950px) {
  body.intro .intro.overlay div.cont {
    padding-top: 20px;
  }
}
body.intro .intro.overlay .word {
  display: inline-block;
  margin-left: 15px;
}
body.intro .intro.overlay .break:before {
  content: '';
  display: block;
  width: 100%;
}
body.intro .intro.overlay span {
  display: inline-block;
}
body.intro .intro.overlay span:nth-child(even) {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
body.intro .intro.overlay span:nth-child(odd) {
  -webkit-animation-duration: 2.25s;
  animation-duration: 2.25s;
}
body.intro .intro.overlay span:nth-child(4n+1) {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
body.intro .intro.overlay span:nth-child(4n+2) {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
body.intro .intro.overlay span:nth-child(4n+3) {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
body.intro .intro.overlay span:nth-child(4n+4) {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
body.intro .dormant {
  display: none !important;
}
body.intro:not(.fades) nav {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
body.intro:not(.fades) .left {
  overflow: hidden;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
body.intro:not(.fades) .right {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
body.intro .aves.dormant {
  display: block !important;
  text-align: center;
}
body.intro .aves.dormant li {
  display: none;
}
body.intro .aves.dormant .PTS {
  display: inline-block;
  margin-left: -35%;
}
body.intro .social.buttons:not(.intro) {
  max-width: 120px;
}
body.intro .social.buttons:not(.intro) div {
  border-radius: 0%;
  max-width: 250px;
  opacity: 1;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  width: 125px;
}
body.intro .social.buttons:not(.intro) div a {
  max-width: 250px;
  width: 125px;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
body.intro .social.buttons:not(.intro) div:after {
  height: auto;
  overflow: visible;
  padding-left: 7.5px;
  max-width: 80px;
}
body.intro .aves:not(.dormant) li:not(.PTS):nth-child(-n+3) {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
body.intro .aves:not(.dormant) li:not(.PTS):nth-child(n+4) {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
body.intro .sliders.dormant {
  display: block !important;
}
body.intro .sliders .PTS.tunrt input {
  display: inline-block !important;
}
body.intro .sliders .PTS.hidden.tunrt input, body.intro .sliders .PTS.hidden input {
  display: none !important;
}
@media all and (max-width: 950px) {
  body.intro .sliders .PTS.hidden.tunrt input, body.intro .sliders .PTS.hidden input {
    display: inline-block !important;
  }
}
@media all and (max-width: 950px) {
  body.intro .sliders li:not(.PTS) {
    display: none !important;
  }
}
body.intro .sliders:not(.dormant) li:not(.PTS):nth-child(-n+3) {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
body.intro .sliders:not(.dormant) li:not(.PTS):nth-child(n+4) {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
body.intro .svg-cont:not(.dormant) {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
body.intro .game-props:not(.dormant) {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
body.intro article > div .left .game-props, body.intro article > div .right .svg-cont {
  display: block;
}
body.intro article > div .left .game-props svg, body.intro article > div .right .svg-cont svg {
  -moz-transform: matrix(1, 0, 0, 1, 0, 0) !important;
  -ms-transform: matrix(1, 0, 0, 1, 0, 0) !important;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0) !important;
  transform: matrix(1, 0, 0, 1, 0, 0) !important;
}
body.intro .sliders.intro.active .range {
  display: block;
}
body.intro .sliders.intro li {
  display: none;
}
body.intro .sliders.intro .PTS {
  display: inline-block;
}
body.intro article {
  margin-top: 0 !important;
}
body.intro article .player {
  display: none;
}
body.intro article .player:first-child {
  display: block;
}
body.intro .presets.rel {
  display: block;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
body.intro nav {
  position: relative;
}

body.ask .intro.ask {
  background-color: #062c53;
  bottom: 0;
  color: #ddd;
  display: block;
  font-family: 'Oswald';
  font-size: 30px;
  font-size: 7.5vmin;
  font-weight: 700;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  z-index: 10000;
}
body.ask .intro.ask:before {
  content: '';
  display: inline-block;
  height: 100%;
  min-height: 100vh;
  vertical-align: middle;
  width: 0.1%;
}
@media all and (max-width: 950px) {
  body.ask .intro.ask:before {
    content: none;
    height: 0;
    min-height: 0;
  }
}
body.ask .intro.ask div.question {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  z-index: 10000000000;
}
@media all and (max-width: 950px) {
  body.ask .intro.ask div.question {
    padding-top: 20px;
  }
}
body.ask .intro.ask div.question h6:first-child {
  padding-bottom: 25px;
  margin-top: -5%;
}
body.ask .intro.ask div.question .yes {
  color: #007dc0;
}
body.ask .intro.ask div.question .yes:hover {
  color: #0361a7;
}
body.ask .intro.ask div.question .no {
  color: #cc1046;
}
body.ask .intro.ask div.question .no:hover {
  color: #CC4169;
}
body.ask .intro.ask div.question .yes, body.ask .intro.ask div.question .no {
  padding: 10px 0;
  cursor: pointer;
}
body.ask header {
  visibility: hidden;
}
body.ask article {
  display: none;
}

.intro.overlay, .intro.ask {
  display: none;
}

.y.axis.grid text {
  fill: #eee;
  font-weight: 700;
  stroke: #062c53;
  stroke-width: 1.4px;
  font-family: 'Oswald';
  font-size: 20px;
}
.y.axis.grid line {
  stroke: #062c53;
}

.x.axis.grid text {
  fill: #062c53;
  font-family: 'Oswald';
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.x.axis.grid line {
  stroke: rgba(204, 16, 70, 0.5);
  stroke-width: 4px;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  20% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
  }
}
@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  75% {
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    height: 0px;
  }
}
@keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.closing {
  display: block !important;
}

nav {
  background-color: #0361a7;
  margin: 0 auto;
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 1000;
  *zoom: 1;
}
nav:after {
  content: "";
  display: table;
  clear: both;
}
@media all and (max-width: 950px) {
  nav {
    position: relative;
  }
}
nav .reset, nav .outcome, nav .mobile-toggle {
  border-bottom: 1px solid #57595b;
  border-top: 1px solid #57595b;
  cursor: pointer;
  float: left;
  font-family: 'Oswald';
  text-transform: uppercase;
  color: #ddd;
  font-size: 14px;
  letter-spacing: 10px;
  padding: 7px 0;
  position: relative;
}
@media all and (max-width: 950px) {
  nav .reset, nav .outcome, nav .mobile-toggle {
    letter-spacing: 2px;
    padding: 15px 5px;
  }
}
nav .reset, nav .outcome {
  width: 50%;
}
nav .reset {
  background-color: #cc1046;
}
nav .reset:hover {
  background-color: #CC4169;
}
nav .outcome {
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
nav .outcome:hover {
  background-color: #57595b;
}
nav .outcome.both {
  background-color: #57595b;
}
nav .outcome.both:hover {
  background-color: rgba(87, 89, 91, 0.8);
}
nav .outcome.L {
  background-color: #910A31;
}
nav .outcome.W {
  background-color: #3CC968;
}
nav .presets-cont.open h3 {
  background-color: #cc1046;
  -moz-transition: background-color 0.5s 0.25s;
  -o-transition: background-color 0.5s 0.25s;
  -webkit-transition: background-color 0.5s;
  -webkit-transition-delay: 0.25s;
  transition: background-color 0.5s 0.25s;
}
nav .presets-cont.open ul.presets {
  display: block;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
nav .presets-cont {
  clear: left;
}
nav .presets-cont h3 {
  background-color: #062c53;
  border-bottom: 1px solid #57595b;
  cursor: pointer;
  width: 100%;
  font-family: 'Oswald';
  text-transform: uppercase;
  color: #ddd;
  font-size: 16px;
  letter-spacing: 10px;
  padding: 10px 0;
  position: relative;
  -moz-transition: background-color 0.5s 0.25s;
  -o-transition: background-color 0.5s 0.25s;
  -webkit-transition: background-color 0.5s;
  -webkit-transition-delay: 0.25s;
  transition: background-color 0.5s 0.25s;
  z-index: 100;
}
nav .presets-cont h3:hover {
  background-color: #0361a7;
}
nav .presets-cont ul.presets.closing {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}
nav .presets-cont ul.presets.sub-open h4.open {
  opacity: 1;
  position: relative;
  height: auto;
}
nav .presets-cont ul.presets.sub-open h4:not(.open) {
  opacity: 0;
  height: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  -moz-transition: top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s 0.25s, height 0.2s 0.3s;
  -o-transition: top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s 0.25s, height 0.2s 0.3s;
  -webkit-transition: top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s, height 0.2s;
  -webkit-transition-delay: 0s, 0.25s, 0.3s;
  transition: top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s 0.25s, height 0.2s 0.3s;
}
nav .presets-cont ul.presets.sub-open .sub-menu.open {
  display: block;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
nav .presets-cont ul.presets {
  background-color: rgba(6, 44, 83, 0.95);
  display: none;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 36px;
  z-index: 10;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
nav .presets-cont ul.presets .active {
  background-color: #1e518c;
}
nav .presets-cont ul.presets .active:hover {
  background-color: #0361a7;
}
nav .presets-cont ul.presets h4 {
  color: #ddd;
  cursor: pointer;
  display: inline-block;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 3px;
  margin: 0 2.5px;
  padding: 10px;
  text-transform: uppercase;
  top: 0;
  -moz-transition: top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s 0.25s, height 0.2s 0.3s;
  -o-transition: top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s 0.25s, height 0.2s 0.3s;
  -webkit-transition: top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s, height 0.2s;
  -webkit-transition-delay: 0s, 0.25s, 0.3s;
  transition: top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s 0.25s, height 0.2s 0.3s;
  width: 100%;
}
nav .presets-cont ul.presets h4:after {
  color: #fff;
  content: '\002B';
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: bold;
  line-height: 0.5;
  padding-left: 10px;
  display: inline-block;
}
nav .presets-cont ul.presets h4:hover {
  background-color: #CC4169;
}
nav .presets-cont ul.presets h4.open {
  background-color: #1e518c;
}
nav .presets-cont ul.presets h4.open:after {
  content: '\002D';
}
nav .presets-cont ul.presets .sub-menu.closing {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
  min-height: 10px;
}
nav .presets-cont ul.presets .sub-menu.sub-open li.open:hover {
  background-color: transparent;
}
nav .presets-cont ul.presets .sub-menu.sub-open li.open .toggle:hover {
  background-color: #cc1046;
}
nav .presets-cont ul.presets .sub-menu.sub-open li.open .descript {
  display: block;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
nav .presets-cont ul.presets .sub-menu.sub-open li:not(.open) {
  opacity: 0;
  height: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  -moz-transition: top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s 0.25s, height 0.2s 0.3s;
  -o-transition: top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s 0.25s, height 0.2s 0.3s;
  -webkit-transition: top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s, height 0.2s;
  -webkit-transition-delay: 0s, 0.25s, 0.3s;
  transition: top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s 0.25s, height 0.2s 0.3s;
}
nav .presets-cont ul.presets .sub-menu {
  display: none;
  position: relative;
  min-height: 90vh;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
nav .presets-cont ul.presets .sub-menu li {
  border: 0 !important;
  display: inline-block;
  font-family: 'Oswald';
  font-size: 24px;
  padding: 10px 0;
  top: 0;
  width: 100%;
  -moz-transition: top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s 0.25s, height 0.2s 0.3s;
  -o-transition: top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s 0.25s, height 0.2s 0.3s;
  -webkit-transition: top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s, height 0.2s;
  -webkit-transition-delay: 0s, 0.25s, 0.3s;
  transition: top 0.5s cubic-bezier(0.07, 1.06, 0.72, 0.99), opacity 0.25s 0.25s, height 0.2s 0.3s;
}
nav .presets-cont ul.presets .sub-menu .text, nav .presets-cont ul.presets .sub-menu .toggle {
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
}
nav .presets-cont ul.presets .sub-menu .text {
  font-weight: 700;
  padding: 5px 20px;
  text-transform: uppercase;
}
nav .presets-cont ul.presets .sub-menu .toggle {
  background-color: #007dc0;
  font-size: 12px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px;
}
nav .presets-cont ul.presets .sub-menu .toggle:hover {
  background-color: #062c53;
}
nav .presets-cont ul.presets .sub-menu .descript {
  display: none;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  margin: 0 auto;
  width: 75%;
}
nav .presets-cont ul.presets .sub-menu .descript.closing {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}
nav .presets-cont ul.presets .sub-menu .descript.open {
  padding: 30px 10px;
}
nav .presets-cont ul.presets li {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Oswald';
  font-weight: 300;
  letter-spacing: 0.5px;
  padding: 3px 10px;
}
nav .presets-cont ul.presets li:last-child {
  border-right: 1px solid #eee;
}
nav .presets-cont ul.presets li:hover {
  background-color: #57595b;
}
nav .mobile-toggle {
  background-color: #1e518c;
  display: none;
  width: 100%;
}
@media all and (max-width: 950px) {
  nav .mobile-toggle {
    display: block;
  }
}
nav ul.sliders {
  display: inline-block;
  margin: 0 auto -2px;
  text-align: center;
  width: 100%;
}
nav ul.sliders li.active.lessThan, nav ul.sliders .lessThan {
  background-color: #cc1046;
}
nav ul.sliders li.active.lessThan label, nav ul.sliders li.active.lessThan span, nav ul.sliders .lessThan label, nav ul.sliders .lessThan span {
  color: #fff;
}
nav ul.sliders li.active.lessThan input, nav ul.sliders .lessThan input {
  background-color: #CC4169;
  -moz-box-shadow: inset 0 0 0 5px #cc1046;
  -webkit-box-shadow: inset 0 0 0 5px #cc1046;
  box-shadow: inset 0 0 0 5px #cc1046;
}
nav ul.sliders li.active {
  background-color: #ddd;
}
nav ul.sliders li.active label {
  color: #062c53;
  font-weight: 700;
}
nav ul.sliders li.active span {
  color: #007dc0;
}
nav ul.sliders li.active input {
  background-color: #EDEBEB;
  -moz-box-shadow: inset 0 0 0 5px #ddd;
  -webkit-box-shadow: inset 0 0 0 5px #ddd;
  box-shadow: inset 0 0 0 5px #ddd;
}
nav ul.sliders li {
  border-right: 1px solid #57595b;
  border-left: 1px solid #7a7a7a;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  padding: 7.5px 5px;
  position: relative;
  text-transform: uppercase;
  width: 51px;
}
@media all and (max-width: 950px) {
  nav ul.sliders li {
    display: block;
    width: 100%;
  }
}
nav ul.sliders li:last-child {
  border-right: 1px solid #7a7a7a;
}
nav ul.sliders li:hover input {
  display: inline-block;
  -moz-transition: height 0.2s ease;
  -o-transition: height 0.2s ease;
  -webkit-transition: height 0.2s ease;
  transition: height 0.2s ease;
}
nav ul.sliders li span {
  color: #ddd;
  display: inline-block;
  font-weight: light;
  font-size: 10px;
  text-align: center;
  width: 100%;
}
@media all and (max-width: 950px) {
  nav ul.sliders li span {
    vertical-align: middle;
    width: 10%;
  }
}
nav ul.sliders li label {
  cursor: pointer;
  display: inline-block;
  font-family: 'Oswald';
  font-size: 14px;
  text-align: center;
  width: 100%;
}
@media all and (max-width: 950px) {
  nav ul.sliders li label {
    vertical-align: middle;
    width: 10%;
  }
}
nav ul.sliders li input {
  -moz-box-shadow: inset 0 0 0 5px #0361a7;
  -webkit-box-shadow: inset 0 0 0 5px #0361a7;
  box-shadow: inset 0 0 0 5px #0361a7;
  -webkit-appearance: none;
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  position: absolute;
  top: 64px;
  right: -31px;
  -moz-transition: height 0.2s ease;
  -o-transition: height 0.2s ease;
  -webkit-transition: height 0.2s ease;
  transition: height 0.2s ease;
  background: linear-gradient(to right, #7d092a 0%, #cc1046 100%);
  background-size: 100% 20%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  zoom: 130%;
  display: none;
  background-color: #007dc0;
  margin: auto;
  min-width: 100px;
  height: 37.5px;
  z-index: 100;
  padding-left: 5px;
}
@media all and (max-width: 950px) {
  nav ul.sliders li input {
    vertical-align: middle;
    display: inline-block;
    height: 22px;
    position: relative;
    right: 0;
    top: 0;
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    width: 75%;
  }
}
nav ul.sliders li input::-webkit-slider-thumb {
  background: url(../img/shoe.svg) center center no-repeat;
  background-size: cover;
  -webkit-appearance: none;
  cursor: pointer;
  width: 15px;
  height: 30px;
  outline: 0;
  border: 0;
  position: relative;
  z-index: 3;
}
@media all and (max-width: 950px) {
  nav ul.sliders li input::-webkit-slider-thumb {
    height: 22px;
    width: 11px;
  }
}
nav ul.sliders li input::-webkit-slider-thumb:after {
  content: " ";
  pointer-events: none;
  width: 100px;
  height: 10px;
  position: absolute;
  z-index: 1;
  right: 15px;
  top: 10px;
  background: #fff;
}
@media all and (max-width: 950px) {
  nav ul.sliders li input::-webkit-slider-thumb:after {
    right: 11px;
    top: 6px;
    width: 950px;
  }
}

.open .left {
  overflow: visible;
}
.open .right svg {
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.open .slideCTRL {
  background-color: #cc1046;
}
.open .slideCTRL:before {
  content: '\002D';
}
.open .slideCTRL:hover {
  background-color: #CC4169;
}

article {
  border-top: 2px solid #1e518c;
}
@media all and (max-width: 950px) {
  article {
    margin-top: 0 !important;
  }
}
article > div {
  width: 100%;
}
@media all and (max-width: 1000px) {
  article > div {
    border-bottom: 2px solid #57595b;
  }
}
article > div:nth-child(even) {
  background-color: #f2f2f2;
}
article > div:nth-child(even) svg {
  background-color: rgba(242, 242, 242, 0.93);
}
@media all and (max-width: 1000px) {
  article > div:nth-child(even) div.left, article > div:nth-child(even) div.right {
    background-color: #f2f2f2;
  }
}
article > div:nth-child(odd) {
  background-color: #E8E8E8;
}
article > div:nth-child(odd) svg {
  background-color: rgba(232, 232, 232, 0.93);
}
@media all and (max-width: 1000px) {
  article > div:nth-child(odd) div.left, article > div:nth-child(odd) div.right {
    background-color: #E8E8E8;
  }
}
article > div .right {
  width: 80%;
  display: inline-block;
  vertical-align: top;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
article > div .right .playergames {
  height: 0;
  min-height: 0;
  overflow: scroll;
}
article > div .right .svg-cont {
  display: none;
}
@media all and (max-width: 950px) {
  article > div .right .svg-cont .player-graph-cont {
    height: 40vw;
  }
}
article > div .right .svg-cont .svgc-label {
  background-color: #cc1046;
  color: #fff;
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  text-transform: uppercase;
  width: 100%;
}
article > div .right .svg-cont .svgc-label:first-child {
  background-color: #062c53;
  padding: 5px 0;
  font-size: 16px;
}
@media all and (max-width: 950px) {
  article > div .right .svg-cont .svgc-label {
    padding: 5px 0;
    font-size: 16px;
  }
}
article > div .right .svg-cont:before {
  content: '';
  display: block;
}
article > div .right .aves {
  height: 15vh;
  min-height: 125px;
  padding: 30px 10px;
  text-align: left;
}
@media all and (max-width: 950px) {
  article > div .right .aves {
    height: auto;
    min-height: 0;
    padding: 10px 10px;
  }
}
article > div .right .aves li.active {
  background-color: #0361a7;
}
article > div .right .aves li.active h2, article > div .right .aves li.active h4 {
  color: #fff;
  font-weight: 700;
}
article > div .right .aves li {
  display: inline-block;
  padding: 10px 2.5px;
  text-align: center;
  width: 5%;
  min-width: 35px;
  font-size: 12px;
}
@media all and (max-width: 950px) {
  article > div .right .aves li {
    width: 20%;
    padding: 10px;
  }
}
article > div .right .aves li h4 {
  font-family: 'Oswald';
  font-size: 18px;
  padding: 10px 0 0;
}
article > div .right svg {
  margin-bottom: -5px;
  -moz-transform: matrix(1, 0, 0, 0, 0, -100);
  -ms-transform: matrix(1, 0, 0, 0, 0, -100);
  -webkit-transform: matrix(1, 0, 0, 0, 0, -100);
  transform: matrix(1, 0, 0, 0, 0, -100);
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
@media all and (max-width: 1000px) {
  article > div .right {
    width: 100%;
  }
}
article > div .left {
  width: 20%;
  display: inline-block;
  position: relative;
  text-align: right;
  vertical-align: top;
}
@media all and (max-width: 1000px) {
  article > div .left {
    border-right: 0;
    width: 100%;
  }
}
article > div .left .player-card {
  height: 15vh;
  min-height: 125px;
}
@media all and (max-width: 1000px) {
  article > div .left .player-card {
    background-color: transparent !important;
    height: 125px;
    margin-top: 10px;
  }
  article > div .left .player-card h4 {
    padding: 0;
  }
}
article > div .left h3 {
  font-family: 'Oswald';
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
}
article > div .left h3 .first {
  color: #007dc0;
  font-size: 12px;
  font-weight: 400;
}
article > div .left h3 .last {
  color: #062c53;
  font-size: 22px;
  font-weight: 700;
}
@media all and (max-width: 1200px) {
  article > div .left h3 span {
    display: inline-block;
    width: 100%;
  }
}
@media all and (max-width: 1200px) {
  article > div .left h3 {
    padding: 0 15px;
  }
  article > div .left h3 .last {
    font-size: 16px;
  }
}
@media all and (max-width: 1000px) {
  article > div .left h3 {
    display: inline-block;
    width: auto;
  }
  article > div .left h3 .last {
    font-size: 35px;
  }
  article > div .left h3 .first {
    font-size: 16px;
  }
}
article > div .left h4 {
  color: #cc1046;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  letter-spacing: 0;
  margin-bottom: 25px;
  padding-top: 0;
  width: 100%;
}
@media all and (max-width: 1000px) {
  article > div .left h4 {
    display: inline-block;
    font-size: 70px;
    margin-right: 25px;
    width: auto;
  }
}
article > div h3 {
  display: inline-block;
  padding: 10px 15px;
  vertical-align: middle;
}
article > div h4 {
  display: inline-block;
  padding: 10px 15px;
  vertical-align: middle;
}
article > div .slideCTRL {
  background-color: #1e518c;
  cursor: pointer;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}
article > div .slideCTRL:hover {
  background-color: #007dc0;
}
article > div .slideCTRL:before {
  color: #fff;
  content: '\002B';
  font-size: 16px;
  line-height: 0.5;
  display: inline-block;
}
article > div ul.playergames {
  display: none;
}
article > div ul.playergames .away {
  background-color: #B4CAD6;
  display: block;
}
article > div ul.playergames .vis {
  display: block;
}
article > div ul.playergames li {
  border-bottom: 1px solid #dedede;
  display: none;
  position: relative;
}
article > div ul.playergames li:hover {
  background-color: #AFD8ED;
}
article > div ul.playergames li .view-more {
  border: 1px solid #dedede;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 2%;
  top: 50%;
  width: auto;
}
article > div ul.playergames li .view-more:before {
  content: '+';
}
article > div ul.playergames li .view-more.minus:before {
  content: '-';
}
article > div ul.playergames li span {
  cursor: pointer;
  display: inline-block;
  padding: 5px 7.5px;
  position: relative;
  vertical-align: middle;
}
article > div ul.playergames li span:before {
  background-color: #fff;
  bottom: 100%;
  color: #57595b;
  cursor: pointer;
  display: none;
  left: 0;
  margin-left: -50%;
  padding: 5px 10px;
  position: absolute;
}
article > div ul.playergames li span:hover {
  opacity: 0.9;
}
article > div ul.playergames li span:hover:before {
  display: block;
}
article > div ul.playergames div {
  width: 100%;
}
article > div ul.playergames div span.player {
  display: none;
}
article .James .left .player-card {
  background: url("../img/james.png") left bottom no-repeat rgba(200, 200, 200, 0.25);
  background-size: auto 100%;
}
article .James .right .svg-cont .player-graph-cont {
  background: url("../img/cavalierscourt.jpg") left bottom no-repeat;
  background-size: auto 100%;
}
article .Westbrook .left .player-card {
  background: url("../img/westbrook.png") left bottom no-repeat rgba(200, 200, 200, 0.25);
  background-size: auto 100%;
}
@media all and (min-width: 1000px) {
  article .Westbrook .left .player-card h3 .last {
    font-size: 16px;
    font-family: 'Oswald';
  }
}
article .Westbrook .right .svg-cont .player-graph-cont {
  background: url("../img/thundercourt.jpg") left bottom no-repeat;
  background-size: auto 100%;
}
article .Curry .left .player-card {
  background: url("../img/curry.png") left bottom no-repeat rgba(200, 200, 200, 0.25);
  background-size: auto 100%;
}
article .Curry .right .svg-cont .player-graph-cont {
  background: url("../img/warriorscourt.jpg") left bottom no-repeat;
  background-size: auto 100%;
}
article .Harden .left .player-card {
  background: url("../img/harden.png") left bottom no-repeat rgba(200, 200, 200, 0.25);
  background-size: auto 100%;
}
article .Harden .right .svg-cont .player-graph-cont {
  background: url("../img/rocketscourt.jpg") left bottom no-repeat;
  background-size: auto 100%;
}
article .Paul .left .player-card {
  background: url("../img/paul.png") left bottom no-repeat rgba(200, 200, 200, 0.25);
  background-size: auto 100%;
}
article .Paul .right .svg-cont .player-graph-cont {
  background: url("../img/clipperscourt.jpg") left bottom no-repeat;
  background-size: auto 100%;
}
article .Davis .left .player-card {
  background: url("../img/davis.png") left bottom no-repeat rgba(200, 200, 200, 0.25);
  background-size: auto 100%;
}
article .Davis .right .svg-cont .player-graph-cont {
  background: url("../img/pelicanscourt.jpg") left bottom no-repeat;
  background-size: auto 100%;
}

.game-props {
  display: none;
  margin-top: 10px;
  text-align: center;
}
.game-props > div {
  width: 100%;
}
.game-props .head.shooting.open {
  background-color: #cc1046;
  color: #fff;
}
.game-props .head.shooting.open:after {
  content: '\002D';
}
.game-props .head.shooting.open:hover {
  background-color: #CC4169;
}
.game-props .head.shooting {
  background-color: #fff;
  color: #0361a7;
  cursor: pointer;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 5px 0;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}
.game-props .head.shooting:after {
  content: '\002B';
  display: inline-block;
  font-size: 16px;
  position: absolute;
  line-height: 22px;
  top: 0;
  right: 0;
  font-weight: 700;
  padding: 0 5px;
}
.game-props .head.shooting:hover {
  background-color: #ddd;
}
.game-props div {
  display: inline-block;
  text-align: center;
}
.game-props div h6 {
  color: #007dc0;
  font-size: 8px;
  width: 100%;
}
.game-props div span {
  color: #062c53;
  display: inline-block;
  font-family: 'Oswald';
  font-size: 20px;
  padding-bottom: 5px;
  width: 100%;
}
.game-props div .OPP span {
  font-size: 24px;
  font-weight: 700;
}
.game-props .W {
  color: #3CC968;
}
.game-props .L {
  color: #cc1046;
}
.game-props .player, .game-props .first {
  display: none;
}
.game-props .shootingstats {
  display: none;
}
.game-props .shootingstats div {
  width: 26%;
}
.game-props .shootingstats .head {
  color: #cc1046;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
}
.game-props .outcome div span {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 5px;
}
.game-props .game div {
  text-align: left;
  width: 45%;
  vertical-align: middle;
}
.game-props .game .DATE span {
  color: #57595b;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 5px;
}
.game-props .defstats div, .game-props .mainstats div {
  width: 22%;
}
.game-props .DATE h6, .game-props .OPP h6, .game-props .OUTCOME h6, .game-props .PtF h6, .game-props .PA h6, .game-props .shootingstats h6 {
  display: none;
}
.game-props .OPP {
  text-align: center !important;
}
.game-props .PA span:before {
  content: '-';
  display: inline-block;
  padding: 0 2.5px;
}
.game-props .FGM span {
  position: relative;
}
.game-props .FGM span:after {
  content: 'of';
  position: absolute;
  left: 95%;
}
.game-props .m3p span {
  position: relative;
}
.game-props .m3p span:after {
  content: 'of';
  position: absolute;
  left: 95%;
}
.game-props .FTM span {
  position: relative;
}
.game-props .FTM span:after {
  content: 'of';
  position: absolute;
  left: 95%;
}

.player-graph circle {
  cursor: pointer;
}

.social.buttons {
  border-bottom-left-radius: 5px;
  max-width: 40px;
  overflow: visible;
  padding: 5px;
  position: fixed;
  right: 0;
  text-align: right;
  top: 50px;
  z-index: 1000;
}
.social.buttons path, .social.buttons polygon {
  fill: white;
}
.social.buttons div {
  background-color: #cc1046;
  display: inline-block;
  height: 30px;
  border-radius: 100%;
  opacity: 0.35;
  padding: 1px 5px;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  width: 30px;
}
.social.buttons div:last-child {
  background-color: #007dc0;
}
@media all and (max-width: 1000px) {
  .social.buttons div:last-child {
    display: none;
  }
}
.social.buttons div #information {
  text-align: center;
  line-height: 27px;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 12px;
}
.social.buttons div #information:hover {
  font-size: 18px;
}
.social.buttons div a {
  color: #fff;
  display: inline-block;
  text-align: left;
  height: 30px;
  overflow: hidden;
  width: 30px;
  text-decoration: none;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.social.buttons div a:after {
  display: inline-block;
  overflow: hidden;
  height: 0;
  max-width: 0px;
  vertical-align: middle;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.social.buttons div:hover {
  border-radius: 0%;
  margin-left: -80px;
  max-width: 250px;
  opacity: 1;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  width: 125px;
}
.social.buttons div:hover a {
  max-width: 250px;
  width: 125px;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.social.buttons div:hover #share-google:after {
  height: auto;
  overflow: visible;
  padding-left: 7.5px;
  max-width: 80px;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.social.buttons div:hover #share-facebook:after {
  height: auto;
  overflow: visible;
  padding-left: 7.5px;
  max-width: 80px;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.social.buttons div:hover #share-twitter:after {
  height: auto;
  overflow: visible;
  padding-left: 7.5px;
  max-width: 80px;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.social.buttons div #share-google:after {
  content: 'google';
}
.social.buttons div #share-facebook:after {
  content: 'facebook';
}
.social.buttons div #share-twitter:after {
  content: 'twitter';
}
.social.buttons div svg {
  display: inline-block;
  vertical-align: middle;
}

.teamATL {
  stroke: #DE3A3F !important;
  color: #00004D !important;
  fill: #00004D;
}

.teamBOS {
  stroke: #FFFFFF !important;
  color: #04824C !important;
  fill: #04824C;
}

.teamBKN {
  stroke: #FFF !important;
  color: #000000 !important;
  fill: #000000;
}

.teamCHA {
  stroke: #FFF !important;
  color: #201747 !important;
  fill: #201747;
}

.teamCHI {
  stroke: #FFF !important;
  color: #C41E3A !important;
  fill: #C41E3A;
}

.teamCLE {
  stroke: #FFB71C !important;
  color: #6E263C !important;
  fill: #6E263C;
}

.teamDAL {
  stroke: #D3D3D3 !important;
  color: #0B60AD !important;
  fill: #0B60AD;
}

.teamDEN {
  stroke: #FBB726 !important;
  color: #4B90CC !important;
  fill: #4B90CC;
}

.teamDET {
  stroke: #FFFFFF !important;
  color: #00519A !important;
  fill: #00519A;
}

.teamGS {
  stroke: #FFC61E !important;
  color: #04529C !important;
  fill: #04529C;
}

.teamHOU {
  stroke: #FFFFFF !important;
  color: #C5001E !important;
  fill: #C5001E;
}

.teamIND {
  stroke: #FFC322 !important;
  color: #092C57 !important;
  fill: #092C57;
}

.teamLAC {
  stroke: #106BB4 !important;
  color: #CC0033 !important;
  fill: #CC0033;
}

.teamLAL {
  stroke: #FCB926 !important;
  color: #5C2F83 !important;
  fill: #5C2F83;
}

.teamMEM {
  stroke: #99BADD !important;
  color: #182D59 !important;
  fill: #182D59;
}

.teamMIA {
  stroke: #BF2F38 !important;
  color: #000000 !important;
  fill: #000000;
}

.teamMIL {
  stroke: #E32636 !important;
  color: #003614 !important;
  fill: #003614;
}

.teamMIN {
  stroke: #C7CFD4 !important;
  color: #245FAC !important;
  fill: #245FAC;
}

.teamNO {
  stroke: #B4975A !important;
  color: #192E5B !important;
  fill: #192E5B;
}

.teamNY {
  stroke: #FF7518 !important;
  color: #0953A0 !important;
  fill: #0953A0;
}

.teamOKC {
  stroke: #F05133 !important;
  color: #007DC3 !important;
  fill: #007DC3;
}

.teamORL {
  stroke: #C0C0C0 !important;
  color: #007CC5 !important;
  fill: #007CC5;
}

.teamPHI {
  stroke: #D0103A !important;
  color: #1560BD !important;
  fill: #1560BD;
}

.teamPHX {
  stroke: #E65F20 !important;
  color: #1C105E !important;
  fill: #1C105E;
}

.teamPOR {
  stroke: #FF2B44 !important;
  color: #000000 !important;
  fill: #000000;
}

.teamSAC {
  stroke: #C5CED4 !important;
  color: #393997 !important;
  fill: #393997;
}

.teamSA {
  stroke: #C0C0C0 !important;
  color: #000000 !important;
  fill: #000000;
}

.teamTOR {
  stroke: #C7CFD4 !important;
  color: #D40026 !important;
  fill: #D40026;
}

.teamUTAH {
  stroke: #F9A11C !important;
  color: #00275E !important;
  fill: #00275E;
}

.teamWSH {
  stroke: #C60C30 !important;
  color: #002244 !important;
  fill: #002244;
}

@media all and (max-width: 950px) {
  .sg-svg .sg-graph-cont {
    height: 45vw;
  }
}
.sg-svg:before {
  color: #1e518c;
  content: 'Single game vs. Average';
  display: block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 0 0;
  text-transform: uppercase;
}
.sg-svg .sg-graph .active {
  stroke: #CC4169;
  stroke-width: 3;
}
.sg-svg .sg-graph rect {
  cursor: pointer;
  fill: #1e518c;
}
.sg-svg .sg-graph rect:not(.active) {
  opacity: 0.5;
}
.sg-svg .sg-graph rect:hover {
  stroke: #007dc0;
  stroke-width: 3;
}
.sg-svg .sg-graph .updaters line.active {
  stroke-width: 25;
  stroke: #910A31;
}
.sg-svg .sg-graph .updaters line {
  cursor: pointer;
  stroke-width: 10;
  stroke: #CC4169;
}
.sg-svg .sg-graph .updaters line:hover {
  stroke-width: 20;
}
.sg-svg .statlabels {
  width: 100%;
}
.sg-svg .statlabels div:after {
  color: #57595b;
  display: block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.sg-svg .statlabels .avlb {
  color: #57595b;
  font-size: 12px;
  letter-spacing: 12px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.sg-svg .statlabels .avvl, .sg-svg .statlabels .crvl {
  font-family: 'Oswald';
  font-size: 26px;
  width: 50%;
}
.sg-svg .statlabels .avvl {
  color: #1e518c;
}
.sg-svg .statlabels .avvl:after {
  content: 'average';
}
.sg-svg .statlabels .crvl {
  color: #910A31;
}
.sg-svg .statlabels .crvl:after {
  content: 'current game';
}

.tool-tip.bar, .tool-tip.line {
  background-color: #fff;
  border-radius: 100%;
  padding: 2.5px 7.5px 10px;
  margin-bottom: -5px;
  min-height: 40px;
  min-width: 40px;
}
.tool-tip.bar span:first-child, .tool-tip.line span:first-child {
  color: #007dc0;
  font-family: 'Open Sans';
  font-size: 10px;
  line-height: 0.9;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.tool-tip.bar span:last-child, .tool-tip.line span:last-child {
  color: #062c53;
  display: block;
  font-family: 'Oswald';
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.tool-tip.bar:after, .tool-tip.line:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: -10px;
  position: absolute;
  top: 100%;
  left: 50%;
  border-top: 10px solid #fff;
}

.tool-tip.circ {
  background-color: rgba(232, 232, 232, 0.85);
  border: 5px solid rgba(201, 201, 201, 0.95);
  border-radius: 100%;
  padding: 15px;
  margin-bottom: -4px;
  margin-left: 20px;
  min-height: 40px;
  min-width: 40px;
}
.tool-tip.circ span:last-child {
  color: #57595b;
  font-family: 'Oswald';
  font-size: 16px;
  line-height: 2;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.tool-tip.circ span:first-child {
  display: block;
  font-family: 'Oswald';
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}
.tool-tip.circ:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: -10px;
  position: absolute;
  top: 100%;
  left: 50%;
  border-top: 10px solid rgba(201, 201, 201, 0.95);
}

@media all and (min-width: 1000px) {
  body.information .game-props, body.information .player-graph-cont, body.information .player-card, body.information .aves {
    position: relative;
  }
  body.information .game-props:after, body.information .player-graph-cont:after, body.information .player-card:after, body.information .aves:after, body.information nav:after {
    background-color: rgba(6, 44, 83, 0.85);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 150;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
  }
  body.information .game-props:after {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    background-image: url(../img/game-props.svg);
  }
  body.information .player-graph-cont:after {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    background-image: url(../img/player-graph-cont.svg);
  }
  body.information .player-card:after {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    background-image: url(../img/player-card.svg);
  }
  body.information .aves:after {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    background-image: url(../img/aves.svg);
  }
  body.information nav:after {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    background-image: url(../img/nav.svg);
  }
  body.information .social.buttons div:last-child {
    background-color: #cc1046;
    text-align: center;
    line-height: 27px;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 12px;
    border-radius: 0%;
    margin-left: -80px;
    max-width: 250px;
    opacity: 1;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    width: 125px;
  }
  body.information .social.buttons div:last-child:hover {
    font-size: 18px;
  }
  body.information .social.buttons div:last-child a {
    color: transparent;
    display: inline-block;
    text-align: left;
    height: 30px;
    overflow: hidden;
    width: 30px;
    text-decoration: none;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    max-width: 250px;
    position: relative;
    width: 125px;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  body.information .social.buttons div:last-child a:after {
    color: #fff;
    content: 'close';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 125px;
    max-width: 125px;
  }
}
